.container{
    margin-top: 40px;
}
.d-grid p{
    text-align: center;
    padding-top: 30px;
}
.d-grid a, .mb-3 a{
    text-decoration: none;
}
.form-check-label{
    padding-right: 54%;
}